fastapi
uvicorn

pydantic
python-multipart
requests

numpy
networkxlibxcb
pymongo
typing_extensions

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.2+cpu
torchvision==0.16.2+cpu
opencv-python-headless

ultralytics
